history
Project Logs for*
__Previews
*.htm
*.html
*.drc
Design Rule*
Status*
*.err
*.step
*template.PcbDoc
*.txt
*html
*.APR_LIB
*.RUL
*.REP
*.LDP
*.GTS
*.GPB
*.GBP
*.GDS
*.GM13
*.GM15
*.apr
*.GBS
*.GTP
*.GTP
*.GD1
*.GTL
*.GTO
*.DRR
*.EXTREP
*.GBL
*.GBO
*.GG1
*.GKO
*.GM1
*.GP1
*.GP2
*.GPT